aiohttp
async-timeout
asyncio
attrs
cachetools
certifi
chardet
discord
discord.py
google-auth
google-auth-oauthlib
gspread
httplib2
idna
multidict
oauth2client
oauthlib
pyasn1
pyasn1-modules
python-dotenv
requests
requests-oauthlib
rsa
six
urllib3
websockets
yarl
jishaku